# Global LLM configuration
[llm]
model = ""       # The LLM model to use
base_url = "" # API endpoint URL
api_key = ""                   # Your API key
max_tokens = 8192                          # Maximum number of tokens in the response

[llm.vision]
model = ""       # The LLM model to use
base_url = "" # API endpoint URL
api_key = ""                   # Your API key
max_tokens = 8192

# Daytona configuration
[daytona]
daytona_api_key = ""
#daytona_server_url = "https://app.daytona.io/api"
#daytona_target = "us"                                   #Daytona is currently available in the following regions:United States (us)„ÄÅEurope (eu)
#sandbox_image_name = "whitezxj/sandbox:0.1.0"           #If you don't use this default image,sandbox tools may be useless
#sandbox_entrypoint = "/usr/bin/supervisord -n -c /etc/supervisor/conf.d/supervisord.conf"   #If you change this entrypoint,server in sandbox may be useless
#VNC_password =                                          #The password you set to log in sandbox by VNC,it will be 123456 if you don't set

# MCP (Model Context Protocol) configuration
[mcp]
server_reference = "app.mcp.server" # default server module reference

# Optional Runflow configuration
# Your can add additional agents into run-flow workflow to solve different-type tasks.
[runflow]
use_data_analysis_agent = false     # The Data Analysi Agent to solve various data analysis tasks
